#photo{
    background-image: url('image/background-for-productgraphy-ai-generated-photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;
    width: 650px;
    height: 550px;
}

#photo h1{
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 50px 0; 
    opacity: 0.2;
}

#photo h1:hover{
    opacity: 0;
}